<mat-toolbar class="transparent-toolbar">

    <button mat-icon-button (click)="sidenav.toggle()" class="menu-toggle-button">
        <mat-icon>menu</mat-icon>
    </button>

    <span class="toolbar-spacer" routerLink="/Inicio">Inicio</span>

</mat-toolbar>
<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['Producto',id]">
                <mat-icon>inventory_2</mat-icon> Producto
            </a>
            <a mat-list-item [routerLink]="['Categoria',id]">
                <mat-icon>category</mat-icon> Categoría
            </a>
            <a mat-list-item href="#">
                <mat-icon>logout</mat-icon> Cerrar Sesión
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>